<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">open Forms</button>
    <h1>{{`Nilai a : ` + a}}</h1>
    <h1>{{`Rata Rata : ` + ratarata}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a:0,
        ratarata:0,
      },
      methods : {
        openForm : function(){
            this.a=0;
            var i=0;
            do {
                var b=prompt("Masukkan Nilai a");
                this.a=this.a+parseInt(b);
                i++;
            }
            while (this.a < 10);

            this.ratarata=this.a/i;
        }
    }
      
  })
  </script>
</body>
</html>