<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      form{
        border: 1px solid #ddd;
        padding: 5px;
        width: 325px;
        background: #efefef;
      }
      label{
          display: block;
          margin-top: 5px;
      }

      input,textarea,select,option{
          min-width: 300px;
      }

  </style>
</head>
<body>
  <div id="app">
        <form @submit.prevent="submitForm()" > 
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Title</label>
            <input type="text" name="title" v-bind:disabled="buttonstatus== 'upload'" ref="title" v-model="title">
            <label> Description : </label> 
            <textarea name="description" v-bind:disabled="buttonstatus== 'upload'" ref="description" v-model="description"></textarea>
            <div v-if="buttonstatus=='submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div  v-else-if="buttonstatus=='update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" @click="cancelUpdateBlog()" value="CANCEL" style="margin-top: 5px;">
            </div>
            <div  v-else-if="buttonstatus=='upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" @click="submitPhoto(idUploadBlog)" value="UPLOAD" style="margin-top: 5px;">
                <input type="button" @click="cancelUpdateBlog()" value="CANCEL">
            </div>
           

        </form>
        <table border="1" style="padding-top: 10px;">
            <tr v-for="blog of blogs">
                <td>
                    <img width=100 v-bind:src="blog.photo ? photoDomain + blog.photo : 'https://nakertrans.sumbarprov.go.id/images/noimage.jpg'" >
                </td>
                <td style="width: 300px;">
                    <b>Title : </b>  {{ blog.title }} <br>
                    <b>Description : </b> {{ blog.description }} <br>

                </td>
                <td>
                    <button @click="editBlog(blog)">Edit</button>
                    <button @click="removeBlog(blog.id)">Hapus</button>
                    <button @click="uploadPhoto(blog)">Upload Foto</button>
                </td>
            </tr>
        </table>
        
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        title:'',
        description:'',
        errors : [],
        blogs : [],
        photoDomain : 'http://demo-api-vue.sanbercloud.com',
        buttonstatus : 'submit',
        idEditBlog:null,
        idUploadBlog:null
      },
      computed : {
       
      },
      methods : {
        validationForm:function(){
            this.errors=[]
            if(this.title.length<5){
                this.errors.push('Title minimal 5 karakter')
                this.$refs.title.focus()

            }
            if(this.description.length < 10 ){
                this.errors.push('Description minimal 10 karakter')
                this.$refs.description.focus()
            }     
        },
        clearForm:function(){
            this.title=""
            this.description=""
            this.idEditBlog=null
        }
        ,
        submitForm:function(){
            this.validationForm()
            if(this.errors.length===0){
                let formData=new FormData()
                formData.append('title', this.title)
                formData.append('description', this.description)
                const config={
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/blog",
                    data : formData
                }

                axios(config)
                .then((respone)=> {
                    this.clearForm();
                    this.getBlogs();
                    alert('Terima kasih anda telah mengisi data dengan benar')
                })
                .catch((respone)=>{

                })
            }
        },
        getBlogs :function(){

            const config={
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/blog"
            }

            axios(config)
                .then((respone)=> {
                    this.blogs =respone.data.blogs
                    console.log(respone.data)
                })
                .catch((respone)=>{

                })
        },
        removeBlog:function(id){
            
            const config={
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                params : {_method : "DELETE",}
            }

            axios(config)
                .then((respone)=> {
                    this.getBlogs();
                    alert(respone.data.message);
                })
                .catch((respone)=>{

                })
        },
        editBlog:function(blog){
            this.title=blog.title
            this.description=blog.description
            this.idEditBlog=blog.id
            this.buttonstatus="update"
        },
        updateBlog:function(id){
            this.validationForm()
            if(this.errors.length===0){

                let formData=new FormData()
                formData.append('title', this.title)
                formData.append('description', this.description)

                const config={
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                    params : {_method : "PUT",},
                    data : formData
                }

                axios(config)
                    .then((respone)=> {
                        this.getBlogs();
                        console.log(respone)
                        this.cancelUpdateBlog();
                        alert(respone.data.message);
                    })
                    .catch((respone)=>{

                    })
            }
        },
        cancelUpdateBlog:function(){
            this.clearForm();
            this.buttonstatus="submit"
        },
        uploadPhoto:function(blog){
            this.title = blog.title
            this.description = blog.description
            this.buttonstatus = "upload"
            this.idUploadBlog = blog.id
        },
        submitPhoto:function(id){
            let file =this.$refs.photo.files[0]
            let formData=new FormData()
            formData.append('photo', file)
            
            const config={
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/blog/${id}/upload-photo`,
                    data : formData
                }

                axios(config)
                    .then((respone)=> {
                        this.getBlogs();
                        console.log(respone)
                        this.cancelUpdateBlog();
                        alert(respone.data.message);
                    })
                    .catch((respone)=>{

                    })
        }
       
    }, 
    created(){
        this.getBlogs();
    }
  })
  </script>
</body>
</html>