
h1{
    color: teal;
    font-size: larger;
}

#wrapper{
    margin:auto;
    padding: 0;
    width:100%;
    height: auto;
    background: #eeeeee;
}
.photoprofile{
     margin:auto;
     width: 20%;
     float: left;
}
.dataprofile{
    margin:auto;
    background: #ba23f3;
    color:#000000;
    font-family: Segoe UI;
    font-size:16px;
    float: right;
    width: 80%;

}
.imgprofile{
    display: block;
    width:200px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
     
}
.nama{
    font-style: italic;
    font-size: larger;
}
.kelas{
    color: thistle;
}
.umur{
    color: violet;
}
.pekerjaan{
    color: yellow;
}
.kota{
    font-style: italic;
}