<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      form{
        border: 1px solid #ddd;
        padding: 5px;
        width: 325px;
        background: #efefef;
      }
      label{
          display: block;
          margin-top: 5px;
      }

      input,textarea,select,option{
          min-width: 300px;
      }
      .modal-vue .overlay {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        }

        .modal-vue .modal {
        position: relative;
        width: 300px;
        z-index: 9999;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        }

        .modal-vue .close{
        position: absolute;
        top: 10px;
        right: 10px;
        }

  </style>
</head>
<body>
  <div id="app" class="modal-vue">
        <!-- overlay -->
        <div class="overlay" v-if="showModal" @click="showModal = false"></div>
         <!-- modal -->
        <div class="modal" v-if="showModal">
            <button class="close" @click="showModal = false">x</button>
            <p>Name  :  {{modal_data_name}}</p><br />
            <p>Address  : {{modal_data_address}}</p><br />
            <p>No HP  :  {{modal_data_no_hp}}</p><br />
            <p>Photo Profile  : </p><br> <img width=100 v-bind:src="modal_data_photo_profile ? photoDomain + modal_data_photo_profile : 'https://nakertrans.sumbarprov.go.id/images/noimage.jpg'" ><br />
        </div>
        <form @submit.prevent="submitForm()" > 
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name</label>
            <input type="text" name="name" v-bind:disabled="buttonstatus== 'upload'" ref="name" v-model="name">
            <label> Address : </label> 
            <textarea name="address" v-bind:disabled="buttonstatus== 'upload'" ref="address" v-model="address"></textarea>
            <label>No HP</label>
            <input type="number" name="no_hp" v-bind:disabled="buttonstatus== 'upload'" ref="no_hp" v-model="no_hp">
           
            <div v-if="buttonstatus=='submit'" style="margin-top: 5px;">
                <input type="submit" value="SUBMIT">
            </div>
            <div  v-else-if="buttonstatus=='update'" style="margin-top: 5px;">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
                <input type="button" @click="clearForm()" value="CANCEL" style="margin-top: 5px;">
            </div>
            <div  v-else-if="buttonstatus=='upload'" style="margin-top: 5px;">
                <input type="file" name="photo" ref="photo">
                <input type="button" @click="submitPhoto(idUploadPhoto)" value="UPLOAD" style="margin-top: 5px;">
                <input type="button" @click="clearForm()" value="CANCEL">
            </div>
           

        </form>
        <table border="1" style="padding-top: 10px;">
            <tr v-for="member of members">
                <td>
                    <img width=100 v-bind:src="member.photo_profile ? photoDomain + member.photo_profile : 'https://nakertrans.sumbarprov.go.id/images/noimage.jpg'" >
                </td>
                <td style="width: 300px;">
                    <b>Nama : </b>  {{ member.name }} <br>
                    <b>Alamat : </b> {{ member.address }} <br>
                    <b>No HP : </b> {{ member.no_hp }} <br>

                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                    <button @click="detilData(member.id)">Detail</button>
                </td>
            </tr>
        </table>
       
        
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name:'',
        address:'',
        no_hp:null,
        errors : [],
        members : [],
        photoDomain : 'http://demo-api-vue.sanbercloud.com',
        buttonstatus : 'submit',
        idEditMember:null,
        idUploadPhoto:null,
        showModal:false,
        modal_data_name:"",
        modal_data_address:"",
        modal_data_no_hp:"",
        modal_data_photo_profile:"",
      },
      computed : {
       
      },
      methods : {
        validationForm:function(){
            this.errors=[]
            if(this.name.length<5){
                this.errors.push('Name minimal 5 karakter')
                this.$refs.title.focus()

            }
            if(this.address.length < 5 ){
                this.errors.push('Adrress minimal 5 karakter')
                this.$refs.description.focus()
            }   
            if(this.no_hp.length < 9 ){
                this.errors.push('No HP minimal 10 karakter')
                this.$refs.description.focus()
            }    
        },
        clearForm:function(){
            this.name=""
            this.address=""
            this.no_hp=""
            this.idEditMember=null
            this.idUploadPhoto=null
            this.buttonstatus="submit"
        }
        ,
        submitForm:function(){
            this.validationForm()
            if(this.errors.length===0){
                let formData=new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp', this.no_hp)

                const config={
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                }

                axios(config)
                .then((respone)=> {
                    this.clearForm();
                    this.getMembers();
                    alert('Terima kasih anda telah mengisi data dengan benar')
                })
                .catch((respone)=>{

                })
            }
        },
        getMembers :function(){
            const config={
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
                .then((respone)=> {
                    this.members =respone.data.members
                    console.log(respone.data)
                })
                .catch((respone)=>{

                })
        },
        removeMember:function(id){
            
            const config={
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params : {_method : "DELETE",}
            }

            axios(config)
                .then((respone)=> {
                    this.getMembers();
                    alert(respone.data.message);
                })
                .catch((respone)=>{

                })
        }, editMember:function(member){
            this.name=member.name
            this.address=member.address
            this.no_hp=member.no_hp
            this.idEditMember=member.id
            this.buttonstatus="update"
        },
        updateMember:function(id){
            this.validationForm()
            if(this.errors.length===0){

                let formData=new FormData()
                formData.append('name', this.name)
                formData.append('address', this.address)
                formData.append('no_hp',this.no_hp)

                const config={
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "PUT",},
                    data : formData
                }

                axios(config)
                    .then((respone)=> {
                        this.getMembers();
                        console.log(respone)
                        this.clearForm();
                        alert(respone.data.message);
                    })
                    .catch((respone)=>{

                    })
            }
        },
        uploadPhoto:function(member){
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.buttonstatus = "upload"
            this.idUploadPhoto = member.id
            console.log(member.id)
        },
        submitPhoto:function(id){
            let file =this.$refs.photo.files[0]
            let formData=new FormData()
            formData.append('photo_profile', file)
            
            const config={
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                    data : formData
                }

                axios(config)
                    .then((respone)=> {
                        console.log(respone)
                        this.clearForm();
                        alert(respone.data.message);
                        this.getMembers();
                    })
                    .catch((respone)=>{

                    })
        },
        detilData:function(id){
            const config={
                method : "get",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`
            }
            
            axios(config)
                .then((respone)=> {
                    this.modal_data_name=respone.data.member.name
                    this.modal_data_address=respone.data.member.address
                    this.modal_data_no_hp=respone.data.member.no_hp
                    this.modal_data_photo_profile=respone.data.member.photo_profile
                    this.showModal=true
                })
                .catch((respone)=>{

                })
        }
       
    }, 
    created(){
       this.getMembers() 
    }
  })
  </script>
</body>
</html>