<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" id="name_input" v-model="form.name"> <button type="button" @click.prevent="addInput" v-show="!updateSubmit" >Add</button><button @click.prevent="updateUser" type="button" v-show="updateSubmit" >Update</button>
        </form>
        <ul id="list_member">
            <li v-for="(member,keys) in users" id="id_list_keys" >
                <a style="text-decoration: none;" >{{member.name}}</a> <button @click.prevent="editUser(member,keys)" > Edit</button> | <button @click="deleteUser(keys)" >Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vo=new Vue({
            el: '#app',
            data : 
                {   
                    users:[
                        {
                            'name' : 'Muhammad Iqbal Mubarok',
                        },
                        {
                            'name' : 'Ruby Purwati',
                        },
                        {
                            'name' : 'Faqih Muhammad',
                        },
                ],  
                updateSubmit:false,
                form:{
                    'name' : "",
                },
                selectedUserId : '',
            },
            methods: {
               addInput(){
                    this.users.push(this.form)
                    this.form = {}
               },
               editUser(user,index){
                    this.selectedUserId=index
                    this.updateSubmit=true
                    this.form.name=user.name
               },
               updateUser(){
                    alert(this.users[this.selectedUserId].name);
                    this.users[this.selectedUserId].name=this.form.name
                    this.form={}
                    this.updateSubmit=false
               },
               deleteUser(index){
                    var r=confirm("Anda yakin menghapus data");
                    if(r){
                        this.users.splice(index,1)
                    }
               }
            }
        });
    </script>
</body>
</html>
