<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>
<body>
  <!-- <div id="app">
        <component1></component1>
        <component-case1></component-case1>
  </div>

  <div id="app2">
    <component1></component1>
    <component-case1></component-case1>
   </div> -->

   <div id="app">

      <h1>Blog yg dipilih : {{selectedBlog}}</h1>

      <component-a 
        v-for="blog in blogs" 
        :blog="blog" 
        @selected-title="selectedBlog = $event"
        >
      </component-a>

     

   </div>


   <br><br>

   <div id="app2">
      <blog-component>
        <template v-slot:title="propsSlot">
          {{ propsSlot.blogs[1].title }}
        </template>
        <template v-slot:content="propsSlot">
          {{ propsSlot.blogs[1].content }}
        </template>
      </blog-component>

   </div>

 </template>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script type="module">
    import {BlogComponent} from './BlogComponent.js'

    var ComponentA={
      template : `
        <div>
          <h3>{{ blog.title }} <button @click="$emit('selected-title',blog.title)"> Pilih </button></h3>
          <p>{{  blog.content }}</p>
        </div>
      `,
      data(){
          return{
            pesan:"ini dari component a pakai variable"
          }
      },
      props:['blog']
    }

    


    Vue.component('component1',{
        template : '#erwincode'
    })

    Vue.component('ComponentCase1',{
        template : '#componencase1'
    })

    
   const vm = new Vue({
      el: '#app',
      components: {
        'component-a': ComponentA
      },
      data: {
        blogs:[
          {
            title: 'Ini Judul 1',
            content: 'Ini konten 1'
          },
          {
            title: 'Ini Judul 2',
            content: 'Ini konten 2'
          }
        ],
        selectedBlog:"",
      },
      computed : {
       
      },
      methods : {
       
       
    }, 
    created(){
     
    }
  })

  var vm2 = new Vue({
      el: '#app2',
      data: {
      
      },
      components : {
        'blog-component' : BlogComponent
      },
      methods : {
       
       
    }, 
    created(){
       
    }
  })
  </script>
</body>
</html>