<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
        <form>
            <input type="text" name="cari" v-model="keyword" placeholder="Ketikkan kata kunci" />
        </form>
        <ul>
            <li v-for="item in caridata">
               {{ item }}
            </li>
        </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        keyword : "",
        books : [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",  
            "Algoritma Pemrograman" 
            ],
        temp : [

        ]
      },
      computed : {// menggunakan computed karena lebih ringan, karena fungsi akan tercache, dan arraynya juga digunakanan berkali2 menggunakan filter 
        caridata: function(){
            if(this.keyword){
                //alert(this.keyword);
                var result=this.books.filter(
                    prosescaridata=(book_data) =>{
                        return this.keyword.toLowerCase().split(' ').every(v => book_data.toLowerCase().includes(v))
                    }
                )
                return result
            }else{
                return this.books;
            }
        }
      },
      methods : {
       
      }
  })
  </script>
</body>
</html>